body{
    background-color: #02070d;
}
.container{
    width: 420px;
    margin: 80px auto 0 auto;
    }
  .head{
      
    text-align: center;
      color: crimson;
     
  }  
 
.clock{
    width: 100%;
    background-color: rgba(255,255,255,0.06);
    padding: 50px 25px;
    border: 1.5px solid red;
    box-shadow: 0 25px 30px rgba(0,0,0,0.15);
    backdrop-filter: blur(15px);
    color: cyan;
   
    text-align: center;
}
#day{
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
}
#clock{
    font-size: 40px;
    margin-top: 10px;
    font-weight: bolder;
    color: darkkhaki;
    font-family: 'Orbitron', sans-serif;
}




